<div class="dialog-header">
    <h1 mat-dialog-title>Ajouter un Employé</h1>
    <button mat-icon-button mat-dialog-close class="close-icon-button">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="employeForm">
      <div class="form-row">
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom">
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="prenom">
          </mat-form-field>
        </div>
      </div>
     
      <div class="form-row">      
        <div class="form-field-container">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>CIN</mat-label>
              <input matInput formControlName="cin">
            </mat-form-field>
        </div>
        
      </div>

      <div class="form-row">    
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>
        </div>


        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Rôle</mat-label>
            <input matInput formControlName="role" readonly>
          </mat-form-field>
        </div>

      </div>

      <div class="form-row">    


        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade">
              <mat-option *ngFor="let g of grades" [value]="g">{{ g }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Département</mat-label>
            <input matInput [value]="logedEmploye.departement?.libelle" readonly>
            <input type="hidden" formControlName="departementId" />
          </mat-form-field>
        </div>
      </div>

    </form>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" (click)="onSubmit()">Ajouter</button>
  </div>
  