<div class="dialog-header">
    <h1 mat-dialog-title>Modifier Kilometrage</h1>
    <button mat-icon-button mat-dialog-close class="close-icon-button">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="missionForm">

      <div class="form-row">
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Kilometrage Initial</mat-label>
            <input matInput formControlName="kilometrageInitial" readonly>
          </mat-form-field>
        </div>     
      </div>
      
      <div class="form-row">
        <div class="form-field-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Kilometrage Retour</mat-label>
            <input matInput formControlName="kilometrageRetour">
          </mat-form-field>
        </div>     
      </div>
      
    </form>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
  